@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --primary: #0064c1;
    --white: #ffffff;
    --navbar-text: #808080;
    --navbar-text-hover: #3e95ff;
    --description: #353535;
}
body{
    background: #f1f1f1;
}
.header.top{
    height: 80px;
    background-color: var(--primary);
}
.header.bottom{
    background-color: var(--white);
    display: flex;
    justify-content: center;
}
header ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /*background-color: blueviolet;*/
}
header ul .menu-item{
    /*background-color: aqua;*/
    margin-right: 10px;
    padding: 15px 10px 10px;
    position: relative;
}
header ul .menu-item .item{
    text-decoration: none;
    color: var(--navbar-text);
}
header ul .menu-item:hover .item{
    font-weight: bolder;
    color: var(--navbar-text-hover);
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10px;
    top: 44px;
}
.dropdown-content a {
    color: var(--navbar-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
    color: var(--navbar-text-hover);
    font-weight: bold;
}
.dropdown:hover .dropdown-content {display: block;}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.card{
    width: 300px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 5px 5px;
}
.card .card-img{
    position: relative;
}
.card .card-img .location-background {
    position: absolute;
    top: 10px; 
    left: 10px; 
    background-color: #610032;
    border-radius: 50%;
    padding: 8px 8px 3px 8px;
}
.card .card-img #location-img {
    width: 15px;
    height: 15px;
}
.card .card-img img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
.card-content{
    padding: 5px 12px 12px 12px;
}
.card-content h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card-content p{
    font-size: 14px;
    color: var(--description);
    line-height: 1.3;
}